
/PiVote.suo
/CaGui/obj
/CaGui/bin
/Circle/obj
/Circle/bin
/Cli/bin
/Cli/obj
/Client/bin
/Client/obj
/Common/obj
/Common/bin
/DocumentationGenerator/obj
/DocumentationGenerator/bin
/Gui/obj
/Gui/bin
/Kiosk/obj
/Kiosk/bin
/PiVoteClientSetup/Release
/PiVoteClientSetup/Debug
/PiVoteClientSetup/Local Debug
/PiVoteUnitTest/obj
/PiVoteUnitTest/bin
/Prover/obj
/Prover/bin
/ResourceManager/obj
/ResourceManager/bin
/SafePrimeFinder/obj
/SafePrimeFinder/bin
/Server/obj
/Server/bin
/SignWeb/obj
/SignWeb/bin
/SignWeb/root.pi-cert
/SignWeb/server.pi-cert