<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pirate.PiVote.Kiosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pirate.PiVote.Kiosk.Properties.Settings>
            <setting name="CertificateStorageFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerCertificateFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="MemberDatabaseFilename" serializeAs="String">
                <value />
            </setting>
        </Pirate.PiVote.Kiosk.Properties.Settings>
    </userSettings>
</configuration>